.pulls {
    width: 10px;
    height: 20000px;
    background: #4d6be2;
    -webkit-transition: width 50s; /* Safari */
    -webkit-transition-timing-function: linear; /* Safari */
    transition: width 50s;
    transition-timing-function: linear;

}

.pulls:hover {
    width: 1000px;

}
